exportPattern("^[[:alpha:]]+")
import(tidyverse)
import(methods)
import(ggpubr)
import(xlsx)
import(ggsignif)
import(ComplexHeatmap)
import(pracma)
import(ensembldb)
import(EnsDb.Hsapiens.v86)
import(msa)
import(stringr)
import(ORFik)
import(GenomicFeatures)
import(data.table)
import(Biostrings)
import(parallel)
import(readr)
import(hypeR)
import(igraph)
import(BiocManager)
import(biomaRt)
import(rtracklayer)
importFrom("grDevices", "dev.off", "pdf")
importFrom("stats", "binomial", "coef", "cooks.distance", "glm", "lm",
               "logLik", "p.adjust", "pchisq", "setNames")
importFrom("utils", "read.csv", "read.delim", "read.table",
               "write.csv")
